## print 1 to 10 tables using python

In [1]:
# 1st table

In [5]:
for i in range(1,11):
    print("1x",i,'=',1*i)

1x 1 = 1
1x 2 = 2
1x 3 = 3
1x 4 = 4
1x 5 = 5
1x 6 = 6
1x 7 = 7
1x 8 = 8
1x 9 = 9
1x 10 = 10

In [6]:
# 2nd table 
for j in range(1,11):
    print("2x",j,'=',2*j)

2x 1 = 2
2x 2 = 4
2x 3 = 6
2x 4 = 8
2x 5 = 10
2x 6 = 12
2x 7 = 14
2x 8 = 16
2x 9 = 18
2x 10 = 20

In [7]:
# 3rd table 
for i in range(1,11):
    print("3x",i,'=',3*i)

3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 = 12
3x 5 = 15
3x 6 = 18
3x 7 = 21
3x 8 = 24
3x 9 = 27
3x 10 = 30

In [8]:
# 4th table 
for i in range(1,11):
    print("4x",i,'=',4*i)

4x 1 = 4
4x 2 = 8
4x 3 = 12
4x 4 = 16
4x 5 = 20
4x 6 = 24
4x 7 = 28
4x 8 = 32
4x 9 = 36
4x 10 = 40

In [9]:
# 5th table 
for i in range(1,11):
    print("5x",i,'=',5*i)

5x 1 = 5
5x 2 = 10
5x 3 = 15
5x 4 = 20
5x 5 = 25
5x 6 = 30
5x 7 = 35
5x 8 = 40
5x 9 = 45
5x 10 = 50

In [10]:
# 6th table 
for i in range(1,11):
    print("6x",i,'=',6*i)

6x 1 = 6
6x 2 = 12
6x 3 = 18
6x 4 = 24
6x 5 = 30
6x 6 = 36
6x 7 = 42
6x 8 = 48
6x 9 = 54
6x 10 = 60

In [11]:
#7th table 
for i in range(1,11):
    print("7x",i,'=',7*i)

7x 1 = 7
7x 2 = 14
7x 3 = 21
7x 4 = 28
7x 5 = 35
7x 6 = 42
7x 7 = 49
7x 8 = 56
7x 9 = 63
7x 10 = 70

In [12]:
#8th table 
for i in range(1,11):
    print("8x",i,'=',8*i)

8x 1 = 8
8x 2 = 16
8x 3 = 24
8x 4 = 32
8x 5 = 40
8x 6 = 48
8x 7 = 56
8x 8 = 64
8x 9 = 72
8x 10 = 80

In [13]:
#9th table 
for i in range(1,11):
    print("9x",i,'=',9*i)

9x 1 = 9
9x 2 = 18
9x 3 = 27
9x 4 = 36
9x 5 = 45
9x 6 = 54
9x 7 = 63
9x 8 = 72
9x 9 = 81
9x 10 = 90

In [14]:
#10th table 
for i in range(1,11):
    print("10x",i,'=',10*i)

10x 1 = 10
10x 2 = 20
10x 3 = 30
10x 4 = 40
10x 5 = 50
10x 6 = 60
10x 7 = 70
10x 8 = 80
10x 9 = 90
10x 10 = 100